<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wll.mapper.GoodsMapper">

    <resultMap id="goodsMap" type="Goods">
        <result property="categoryId" column="category"></result>
    </resultMap>

    <select id="queryAllGoods" resultType="Goods">
        select *
        from goods
    </select>

    <insert id="insert" parameterType="Goods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into goods(goodsName, price, num, upTime, category, detailCate, description)
        values (#{goodsName}, #{price}, #{num}, #{upTime}, #{categoryId}, #{detailCate}, #{description})
    </insert>

    <select id="queryGoodsByCategoryId" resultMap="goodsMap">
        select * from goods where category in
        <foreach collection="categoryIds" open="(" close=")" separator="," item="categoryId">
            #{categoryId}
        </foreach>
    </select>

    <select id="queryGoodsByDetailCate" parameterType="String" resultType="Goods">
        select *
        from goods
        where detailCate = #{detailCate}
    </select>

    <select id="queryGoodById" resultMap="goodsMap">
        select *
        from goods
        where goodsId = #{goodsId}
    </select>
    <select id="queryGoodsByCondition" resultType="Goods">
        select *
        from goods
        where goodsName like #{keyword}
    </select>
</mapper>